body {
	background: #f0f0f0;
	color: black;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h1 {
	margin-top: 0px;
	text-align: center;
}

p.name {
	font-size: 56px;
	margin-top: 60px;
	margin-bottom: -10px;
}

p.onelinebio {
	font-size: 20px;
	color: #909090;
	margin-top: 10px;
	margin-bottom: 50px;
}


h2 {
	font-size: 36px;
}

div.links {
	margin-top: 20px;
	margin-left: 100px;
	width: 250px;
}

ul.info {
	list-style-type: none;
	padding: 5px;
}

ul.info a {
	color: #303030;
	font-size: 20px;
	text-decoration: none;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 1px;
    display: block;
}

ul.info a:hover {
	color: #f0f0f0;
}

ul.info li:hover {
	color: #f0f0f0;
	background: #303030;
}

div.content div {
	float: left;
}

div.content {
	margin-right: auto;
	margin-left: 250px;
	width: 700;

}

p {

}

img#nerd {
	width: 250px;
	border: 10 solid #202020
}
