body {
	background: #f0f0f0;
	color: black;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

div.formatter {
	width: 700px;
}

h1 {
	margin-left: 10px;
	font-size: 40px;
}

h2 {
	font-size: 24px;
	margin-left: 20px;
	/*border-bottom: 1px solid black;*/
}

div.education {
	float: left;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	border-right: 1px solid #a0a0a0;
	width: 120px;
	height: 180px;
	margin-right: 0px;
}

div.section div {
	/*float: left;*/
	margin-bottom: 5px;
}

div.date {
	font-style: italic;
}

div.info {
	margin-left: 10px;
	width: 500px;
	float: left;
}

ul.list {
	list-style-type: none;
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 20px;
	margin-top: -20px;
}

ul.list li {
	float: left;
	font-size: 16px;
	margin-top: 10px;
}

div.desc {
	margin-bottom: 10px;
	width: 300px;
}

div.datum {
	margin-right: 20px;
}

div.languages {
	font-size: 16px;
	margin-left: 5px;
	float: left;
}

div.skills {
	font-size: 16px;
	float: left;
	text-align: left;
	margin-left: 40px;
	border-right: 1px solid #a0a0a0;
	width: 120px;
	height: 20px;
	margin-right: 0px;
}

div.mw {
	float: left;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	border-right: 1px solid #a0a0a0;
	width: 120px;
	height: 100px;
	margin-right: 0px;
}

div.dph {
	margin-top: 130px;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	border-right: 1px solid #a0a0a0;
	width: 120px;
	height: 100px;
	margin-right: 0px;
}

div.tuds {
	margin-top: 90px;
	font-size: 16px;
	text-align: left;
	margin-left: 40px;
	border-right: 1px solid #a0a0a0;
	width: 120px;
	height: 120px;
	margin-right: 0px;
}

ul.job {
	height: 75px;
	margin-left: -10px;
	float: left;
	font-size: 16px;
}
